.App {
  text-align: center;
}
#popo{
  min-height: 350px;
  background-color: beige;
}

#col{
  padding-right: 25px;
}
#imgcol{
  padding: 5px;
}
#row1{
  margin-bottom: 0;
}
#container-4{
  padding-top: 20px;
  background-color: rgba(128, 128, 128, 0.233);
  height: 100vh;
  margin-top: 0px;
}

